/* Responsive CSS
=====================================================================*/
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .menu_area {
        position: fixed;
        top: 0;
        height:40px;
    }
    .navbar-default {
        margin-top: -10px;
    }
    .site_title p {
        padding: 10px;
    }
    .countdown {
        margin-bottom: 80px;
        width: 83%;
    }
    .about_icon {
        width: 65%;
    }
    .about {
        padding: 60px 0 0;
    }
    #loading img{
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 768px) and (max-width: 990px) {
    #head {
        background: url(../images/background.png) repeat scroll center center / cover rgba(0, 0, 0, 0);
    }
    #polina, video{
        display: none;
    }
    .overlay{
        position: unset;
    }
    .menu_area {
        position: fixed;
        top: 0;
        height:40px;
    }
    .site_logo a img{
        width: 150px;
    }
    .navbar-default {
        margin-top: -10px;
    }
    .site_title p {
        padding: 10px;
    }
    .countdown {
        margin-bottom: 80px;
        width: 100%;
    }
    .countdown_section {
        margin: 15px 20px auto;
    }
    .about_icon {
        width: 20%;
    }
    .about {
        padding: 60px 0 0;
    }
    #loading img{
        width: 100%;
        height: auto;
    }
    .site_logo {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {  
    #head {
        background: url(../images/background.png) repeat scroll center center / cover rgba(0, 0, 0, 0);
    }
    #polina,video{
        display: none;
    }
    .overlay{
        position: unset;
    }

    .site_logo {
        margin-top: 20px;
    }
    .site_logo a img{
        width: 150px;
    }
    /*    .menu_area {
            display:none;
        }*/
    .navbar-default {
        margin-top: -10px;
    }
    .site_title p {
        padding: 10px;
    }
    .countdown {
        margin: 50px auto;
        width: 90%;
    }
    .countdown_section {

        margin: 15px 20px auto;
        padding: 45px 12px;

        width: 170px;
    }
    .about_icon {
        width: 30%;
    }
    .about {
        padding: 60px 0 0;
    }
    .email_input_box {
        margin: 0 auto 30px;
        width: 87%;
    }
    #loading img{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #head {
        background: url(../images/background.png) repeat scroll center center / cover rgba(0, 0, 0, 0);
    }
    #polina, video{
        display: none;
    }
    .overlay{
        position: unset;
    }
    .site_logo {
        margin-top: 20px;
    }
    .site_logo a img{
        width: 150px;
    }
    .site_title p {
        padding: 10px;
    }
    .countdown {
        margin: 50px auto;
        width: 60%;
    }
    .countdown_section {

        margin: 15px 20px auto;
        padding: 45px 12px;

        width: 170px;
    }
    .about_icon {
        width: 45%;
    }
    .about {
        padding: 60px 0 0;
    }
    .email_input_box {
        margin: 0 auto 30px;
        width: 87%;
    }
    #loading img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 319px) {
    #head {
        background: url(../images/background.png) repeat scroll center center / cover rgba(0, 0, 0, 0);
    }
    #polina, video{
        display: none;
    }
    .overlay{
        position: unset;
    }

    .site_logo {
        margin-top: 20px;
    }
    .site_logo a img{
        width: 100px;
    }
    .menu_area {
        display:none;
    }
    .site_title p {
        padding: 10px;
    }
    .navbar-default {
        margin-top: -10px;
    }
    .countdown {
        margin: 50px auto;
        width: 70%;
    }
    .countdown_section {
        margin: 15px 20px auto;
        padding: 45px 12px;
        width: 170px;
    }
    .about_icon {
        width: 50%;
    }
    .about {
        padding: 60px 0 0;
    }
    .email_input_box {
        margin: 0 auto 30px;
        width: 87%;
    }
    #loading img{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #ads {
        display:none;
    }
}
@media only screen and (max-width: 768px) {

    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }		
    .responsive-menu{
        display: block;
    }
    #menu-center {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
        left: 0;
        background-color: #2e2a2a;
        display: none;
    }
    #menu-center li {
        display: block;
    }
    #close-menu {
        display: block;
        margin: 20px;
        text-align: center;
        cursor: pointer;
    }
    #close-menu i {
        background: #fff;
        color: #f95555;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
    .resposive-logo{
        height: 50px;
        padding: 5px 0;
    }
    .resposive-logo img{
        height: 100%;
    }
    #icon {
        padding: 13px 0;
        cursor: pointer;
    }
}
